.example-card {
    max-width: 400px;
    max-height:200px;
    
  }
  .example-header-image {
    background-image: src='assets/images/veg.jpeg';
    background-size: cover;
  }
  
 
  .example-card1 {
    max-width: 400px;
    position: absolute;
  right:600px;
  top:102px;
  max-height:200px;
    
  }
  

  


  