<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Veg Pizza</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image src="assets/images/veg.jpeg" height=300px>
    <mat-card-content>
      <p>
        A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/vegpizza" type="button" class="btn btn-info">View ALL</button>
      
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card1">
    <mat-card-header>
      
      <mat-card-title>Non-Veg Pizza</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image src="assets/images/nonveg.jpeg" height=300px>
    <mat-card-content>
      <p>
        Get fresh non-veg pizza with your choice of crusts & toppings
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/nonvegpizza" type="button" class="btn btn-info">View ALL</button>
      
    </mat-card-actions>
  </mat-card>

  