<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a routerLink="/Home" href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <span class="material-icons">
          local_pizza
          </span>
      <span class="fs-4">Dominos Pizza</span>
    </a>
    

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/OurMenu" href="Our Menu" class="nav-link px-2 link-secondary">Our Menu</a></li>
      
      <li><a routerLink="/About" href="About us" class="nav-link px-2 link-dark">About Us</a></li>
      <li><a routerLink="/Contact" href="Contact" class="nav-link px-2 link-dark">Contact</a></li>
      <li><a routerLink="/Review" href="Reviews" class="nav-link px-2 link-dark">Reviews</a></li>
    </ul>
    

    <div class="col-md-3 text-end">
      <button routerLink="/cart" type="button" class="btn btn-outline-primary me-2"><span class="material-icons">
shopping_cart
</span></button>
      <button routerLink="/Login" type="button" class="btn btn-primary">Login</button>
      
    </div>
  </header>
   <router-outlet></router-outlet>
</div>


