<h2 style="color: rgb(16, 185, 143);padding-bottom: 30px;">Some of the recent reviews</h2>
<div class="container">
    <div style="overflow: auto;">
        <div class="mat-elevation-z8">
            <mat-table [dataSource] = "listdata" matSort>
                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns:columns;"></mat-row>
    
            
    
            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name of the user</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.username}}</mat-header-cell>
            </ng-container>

    
            <ng-container matColumnDef="pizzaname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Pizza Name</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.pizzaname}}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="review1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Review about the pizza</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.review1}}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="rateings">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Ratings</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.rateings}}</mat-header-cell>
            </ng-container>
    
    
            
    
            </mat-table>
        </div>
        
    </div>
</div>


